<nav class="bg-black border-t border-gray-500">
  <!-- set a fixed navbar height (adjust h-12 / md:h-14 to taste) -->
  <ul class="flex items-stretch justify-start space-x-0 text-sm md:text-base text-white h-12 md:h-14">
    <li class="h-full">
      <a href="{{ '/' | relative_url }}" class="inline-flex items-center h-full px-6 hover:bg-gray-500">
	Home
      </a>
    </li>
    <li class="h-full">
      <a href="{{ '/categories' | relative_url }}" class="inline-flex items-center h-full px-6 hover:bg-gray-500">
	Categories
      </a>
    </li>
    <li class="h-full">
      <a href="{{ '/tags' | relative_url }}" class="inline-flex items-center h-full px-6 hover:bg-gray-500">
	Tags
      </a>
    </li>
    <li class="h-full">
      <a href="{{ '/archives' | relative_url }}" class="inline-flex items-center h-full px-6 hover:bg-gray-500">
	Archives
      </a>
    </li>
    <li class="h-full">
      <a href="{{ '/about' | relative_url }}" class="inline-flex items-center h-full px-6 hover:bg-gray-500">
	About
      </a>
    </li>
    <li class="h-full">
      <a href="{{ '/contact' | relative_url }}" class="inline-flex items-center h-full px-6 hover:bg-gray-500">
	Contact
      </a>
    </li>
  </ul>
</nav>
