<nav class="bg-black border-t border-gray-800">
  <ul class="flex flex-wrap justify-start space-x-6 py-3 px-6 text-sm md:text-base text-white">
    <li><a href="{{ '/' | relative_url }}" class="hover:text-[#00ffcc]">Home</a></li>
    <li><a href="{{ '/categories' | relative_url }}" class="hover:text-[#00ffcc]">Categories</a></li>
    <li><a href="{{ '/tags' | relative_url }}" class="hover:text-[#00ffcc]">Tags</a></li>
    <li><a href="{{ '/archives' | relative_url }}" class="hover:text-[#00ffcc]">Archives</a></li>
    <li><a href="{{ '/about' | relative_url }}" class="hover:text-[#00ffcc]">About</a></li>
    <li><a href="{{ '/contact' | relative_url }}" class="hover:text-[#00ffcc]">Contact</a></li>
  </ul>
</nav>
